.container {
  width: 70%;
  height: 2.75em;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  border: none;
  background-color: #ebebeb;
}

textarea {
  width: 100%;
  border: none;
  align-items: center;
  background-color: transparent;
  padding: 9px;
  resize: none;
}

textarea:focus {
  outline: none;
  border-bottom: none !important;
  box-shadow: none !important;
}

::placeholder {
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(188, 188, 188);
}

.search {
  cursor: pointer;
  transform: translateY(0.4em) rotateY(-180deg);
  color: rgb(188, 188, 188);
}

.search:hover {
  color: rgb(101, 158, 53);
  transition: all 0.1s linear;
}

@media (min-width: 300px) and (max-width: 768px) {
  .container {
    width: 90%;
    margin-top: 0.5rem;
  }
}
